html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(158, 158, 236);
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: o;
    display: flex;
    align-items: center;
}
nav .nav-links ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav .nav-login{
    background-color:rgb(158,158,236);
}
nav .nav-login a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.sessões{
    border: solid 1px;
    border-color: rgb(137, 106, 249);
    height: 100%;
}
nav .nav-login a:hover{
    background-color: darkgrey;
}
footer{
    background-color: rgb(133, 238, 198);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom:0;
}
form {
    max-width:500px;
    margin: 0 auto;
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(114, 111, 245);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10%;
}
.tituloformulario{
    align-items: center;
    text-align: center;
}
.contorno{
    border: 2px solid black;
    padding: 20px; 
    max-width: 600px; 
    margin: 0 auto; 
}
#imglogo{
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
#accesslevel{
    width: 90%;
    align-items: start;
    margin-top: 10%;
}
#secao1 p{
    float: right;
    width: 70%;
    font-size: 16px;
    line-height: 1.6;
}
footer a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
footer {
    background-color: rgb(133, 238, 198);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; 
}

#joao, #yago {
    margin: 0;
}

#joao {
    text-align: left;
    margin-top: 18px;
}
body{
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds-photos%2Fsports&psig=AOvVaw0kUMMVWzlgK4eQbSPeICpu&ust=1715312209809000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDj84rS_4UDFQAAAAAdAAAAABAE");
    background-size: cover;
    background-position: center;
}