html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
nav{
    background-color: rgb(158, 158, 236);
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
nav .nav-links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav .nav-links ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav .nav-login{
    background-color: rgb(158,158,236);
}
nav .nav-login a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5%;
}
.sessões{
    border: solid 1px;
    border-color: rgb(137, 106, 249);
    height: 100%;
    padding: 20px;
    width: 100%;
}
nav .nav-login a:hover{
    background-color: darkgrey;
}
footer{
    background-color: rgb(165, 231, 205);
    color: white;
    text-align: center;
    padding: 10px;
    width: 50%;
    position: fixed;
    bottom:0;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(38, 0, 255);
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10%;
}
.tituloformulario{
    align-items: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contorno{
    border: 2px solid black;
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto; 
    border-radius: 10px;
    margin-top: 80px;
    background-color: rgb(121, 215, 250);
    max-height: 520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#imglogo{
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}
#accesslevel{
    width: 90%;
    align-items: start;
    margin-top: 10%;
}
footer a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
footer {
    background-color: rgb(133, 238, 198);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; 
}

#joao, #yago {
    margin: 0;
}

#joao {
    text-align: left;
    margin-top: 18px;
}
#usuario{
    margin-top: 30px;
}
#preferencia {
    margin-top: 20px;
}

#preferencia label {
    font-size: larger;
    margin-right: 10px;
}

#resposta {
    display: flex;
}

#resposta label {
    margin-right: 5px; 
    margin-top: 10px;
}
#fundo {
    background-image: url('../img/2870046-fundo-do-estadio-de-futebol-vetor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logorodape{
    width: 170px;
}
#secao1 {
    margin: 0 auto;
    padding: 10px;
    text-align: left; 
    font-size: 20px;
}

#secao1 h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

#secao1 h2 {
    color: #555;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#secao1 p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
#secao1 img {
    float: right;
    margin-right: 30px;
    width: 450px;
    margin-top:50px; 
}
.manchetes{
    display: flex;
    flex-direction: column;
}
#sec1 {
    display: flex;
    margin-bottom: 20px; 
}

#sec1 img {
    margin-right: 100px; 
    height: 300px;
}

#sec1 p {
    text-align: justify; 
    margin-right: 100px;
    margin-top: 0px;
}

.primeira-manchete,
.segunda-manchete {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    height: 250px;
    width: 450px; 
    margin-left: 10px; 
}
.primeira-manchete img,
.segunda-manchete img {
    width: 400px;

}
.contornoperfil{
    text-align: center; 
    background-color: rgb(255, 255, 255); 
    padding: 20px; 
    border-radius: 5px; 
    max-width: 500px; 
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    max-height: 250px;
    all: 90px;
}

#Perfil{
    background-color: #dbdbdb; 
    padding: 20px;
    border-radius: 10px;
    height: 95vh; 
}

#fundoperfil{
    background: url("../img/2870046-fundo-do-estadio-de-futebol-vetor.jpg");
}
#Voltar{
    text-align: center;
}

